@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@700&family=Playfair+Display:ital,wght@1,500&display=swap');@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@700&family=Playfair+Display:ital,wght@1,500&display=swap');
*{/* font family gia na eisaxthei to font style kai xrwma sto text olwn twn selidwn*/
    box-sizing: content-box;
    font-family: 'GFS Neohellenic', sans-serif;
    color: #48485c;
    
}
.main-header { /* xrwmatismos kai megethos na kaluptei to megethos ths selidas sto header pou einai to menu ws to horizontal rule*/
    background-color: rgb(215, 240, 247);
    background-size: cover;
}
html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(218, 229, 231);

}
.nav ul { /*keno anamesa sta koumpia tou menou kai padding 0 gia na einai kollhmeno*/
    margin: 1.em;
    padding: 0;
}

.nav li {/* dhmiourgia kathe koumpiou se ena aorato orthogwnio koutaki*/
    display: inline-block;
}

.nav a { /* afairesh upoframmishs sta koumpia tou menu*/
    padding: .40em;
    text-decoration: none;
}

.main-nav{ /*dhmiourgia orizontipou menu apo lista kai kentrikh stoixish me x-latge grammatoseira*/
    display: inline;
    text-align: center;
    font-size: x-large;
}
.center { /*center class gia tis eikones*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .forma-rantevou{ /*class call gia stoixish kentro ths formas rantevou*/
      text-align: center;
  }
  .forma-title{/* style xxl grammatoseiras kai kentrostoixish*/
      font-size: xx-large;
      text-align: center;
  }
.ereunitika{/* style L grammatoseiras kai kentrostoixish*/
    text-align:center;
    font-size: large;
}
.tmhmata{/* style xxl grammatoseiras kai kentrostoixish*/
    text-align:center;
    font-size: xx-large;
}
.keimeno{/*kena anamesa sta keimena twn selidwn gia na mhn kollane sta plaina*/
    margin-left:  .9em;
    margin-right: .9em;
}